/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #dbc8b0;
}

/* Colors */
.color-b88e2f {
    color: #B88E2F;
}

.color-fff3e3 {
    color: #FFF3E3;
}


/*---- body ----*/
body {
    font-family: 'Montserrat', sans-serif;
}

/*---- header ----*/
.header {
    padding: 1rem 0;
}

.menu ul a {
    color: black;
    font-weight: 600;
    transition: all ease .2s;
}

.menu ul a:hover {
    color: #B88E2F;
    font-size: 1.1rem;
}

.icons ul li{
  transition: all ease .3s;
}

.icons ul li:hover {
    transform: translateY(-4px);
}


/*---- main ----*/

.banner-text {
    background-color: #FFF3E3;
    padding: 2rem;
    width: 30%;
    right: 10%;
    bottom: 20%;
}

.banner-text label {
    font-family: Poppins;
}

.banner-text h2 {
    color: #B88E2F;
    font-size: 2rem;
}

.banner-text button {
    width: 40%;
    background-color: #B88E2F;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
}

.banner-text button a {
    color: #fff;
}